*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 0 18px 0;
}


.logo{
    width: 62px;
}

.navigation{
    display: flex;
    gap: 40px;
}

.navigation-menu{
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #FFF2E7;
    transition: 1s;
} 

.navigation-menu:hover{
   opacity: 70%;
}

@media (max-width: 470px) {
    .header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .navigation{
       flex-direction: column;
       gap: 10px;
       align-items: center;
       margin-top: 20px;

    }
  }



/*-------------------Fim do header-------------------*/

.linha{
    border-top: 0.4px solid #FFF2E7;
    max-width: 100%;
}

.main{
    margin-bottom: 70px;
} 


.seciton-primary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text h1{
    font-family: 'Righteous', sans-serif;
    font-size: 64px;
    color: #FFF2E7;
}

.text p{
    font-family: 'Sarala', sans-serif;
    font-size: 24px;
    color: #ECD6C4;
}

.text button{
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #ECD6C4;
    font-family: 'Sarala', sans-serif;
    font-size: 24px;
    color: #2F2325;
    box-shadow: 0px 8px 4px #000;
    cursor: pointer;
    transition: 0.5s;

}

.text button:hover{
    background-color: #2F2325;
    color: #ECD6C4;
}

.img{
    width: 100%;    
}

.section-secondary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.section-secondary h2{
    font-family: 'Righteous', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #FFF2E7;

    border-top: 0.4px solid #FFF2E7;
    padding-top: 40px;
    margin-bottom: 24px;
}

.section-secondary-p{
    font-family: 'Sarola', sans-serif;
    font-size: 18px;
    color: #ECD6C4;
}

@media (max-width: 470px) {
    .seciton-primary{
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        height: auto;
        margin-bottom: 40px;
    }

    .text{
        text-align: center;
    }

    .div-img{
        display: flex;
        justify-content: center;
    }

    .img{
       width: 60%;

    }
    .text p{
        font-size: 20px;
    }

    .text button{
        width: 350px;
    }
    .section-secondary-p{
        text-align: center;
        font-size: 14px;
    }
  }

/*-------------------Fim do Main-------------------*/


.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-footer{
    margin-top: 40px;
    margin-bottom: 30px;
  
}